.places__website {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: end;
}

@media screen and (max-width: 760px) {
  .places__website {
    max-width: 288px;
    margin: 0 16px 32px;
  }
}
