.places__url-heading {
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaaaaa;
  text-align: left;
  text-transform: uppercase;
  margin: 0 auto 12px 0;
}

@media screen and (max-width: 760px) {
  .places__url-heading {
    margin-top: 32px;
    margin-bottom: 12px;
  }
}
